.cards {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 51px;
}

@media screen and (max-width: 960px) {
  .cards {
    max-width: 581px;
  }
}

@media screen and (max-width: 650px) {
  .cards {
    max-width: 320px;
  }
}