.card__remove-button {
    background-image: url(../../../images/remove.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    background-size: 18px 19px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    padding: 0;
  }
  .card__remove-button:hover {
    opacity: 0.6;
  }