.profile__btn-add {
  width: 150px;
  height: 50px;
  align-self: center;
  margin-left: auto;
  background: transparent url(../../../images/profile__btn-add.svg) center center / 22px no-repeat;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.2s linear;
  margin: 0 0 0 auto;
  padding: 0;
}

.profile__btn-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 960px) {
  .profile__btn-add {
    width: 282px;
    margin: 33px 0 0 0;
  }
}

@media screen and (max-width: 650px) {
  .profile__btn-add {
    max-width: 282px;
    background-size: 16px;
  }
}
